body{
    background: rgb(34,193,195);
    height:100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(0deg, rgba(34,193,195,1) 6%, rgba(7,227,202,1) 20%, rgba(103,211,141,1) 69%);
}
.heading{
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: inherit;
    font-weight: bold;
    font-variant: inherit;
    box-shadow: 5px 2px 100px darkgrey;
}
.tv{
    font-size: 30px;
    border: ridge cornflowerblue 0px;
    border-radius: 20px;
    width: 650px;
}